<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/students">home</a></li>
    <li><a href="/students/new">Enrol a student</a></li>
  </ul>

  <img id="img"src="/coat_of_arms.jpg" alt="coat of arms">
</nav>
  <%= yield %>
</body>
</html>
